MainPractice/.vs/
MainPractice/MainPractice.sln
MainPractice/MainPractice/MainPractice.vcxproj
MainPractice/MainPractice/MainPractice.vcxproj.filters
MainPractice/MainPractice/MainPractice.vcxproj.user
MainPractice/MainPractice/x64/
MainPractice/x64/
RandKey/
KeyCreate/.vs/
KeyCreate/KeyCreate.sln
KeyCreate/KeyCreate/KeyCreate.vcxproj
KeyCreate/KeyCreate/KeyCreate.vcxproj.filters
KeyCreate/KeyCreate/KeyCreate.vcxproj.user
KeyCreate/KeyCreate/x64/
KeyCreate/x64/
